
<div class="fluid-container col-md-10 col-md-push-1">
<div>
<h1>Add User</h1>
<p>Here you can add new user to the system. Their email address will be required but the display name can be left blank for the them to fill in at a later date.</p>
<p>On added the users an email will be set to each email address and a link for the new user to follow. The user will not be able to log in on till they follow the link in the email. Its here that the user enters their password. Management and admin staff will not know a users password but can send a reset password email, but should never know their password.</p>
<p>The mobile number is not required but it is best to enter this information now over letter to user decide if they want to enter the a contact number for them. </p>
<p><strong>This page can be broken, play nice to avoid hassle!</strong></p>
</div>
<div>


</div>
</div>